<h3 style = "font-size: 150%; text-align: center;" >Site for fishermen from fishermen!!! </h3>
<h2><em>Our rules</em></h2>
<ol class="rules">
    <li>Everyone is guaranteed freedom of thought and speech (within the established rules and moral and ethical standards). .</li>
    <li>Propaganda or agitation that incite social, racial, national or religious hatred and enmity is not allowed. Propaganda of social, racial, national, religious or linguistic superiority is prohibited.</li>
    <li>No one can be forced to express their opinions and beliefs or to renounce them.</li>
    <li> Everyone has the right to freely seek, receive, transmit, produce and distribute information in any lawful manner. The list of information constituting a state secret is determined by federal law.</li>
    <li>Freedom of the media is guaranteed. Censorship is prohibited.</li>
</ol>