<br>
<div class ="main-text">
    Fishing! Oh, how much has merged in this sound, isn't it? Fresh air, splashing water, forest silence, a fishing rod in
    hands, and then suddenly shouts: “Pecking! Pecking! Hook!" A surge of emotions, brutal adrenaline, frenzied excitement, happiness
    from capturing prey.

    Our favorite outdoor activity, a whole philosophy, cognitive science - that's what fishing is all about. For true
    connoisseurs of this activity, we have created our website about fishing. Here we will share with you all the secrets and
    the intricacies of fishing, we will tell you what, where and how to catch. Armed with our knowledge, you
    You will feel that you have become real professionals in your favorite business.
</div>

<div>
    <%= image_tag('rybalka1.jpg')%>
</div>