<h2> Summer fishing </h2>

<p>
    Summer fishing is the most desirable time not only for anglers, but often
    and for their families, when you can not only do your favorite hobby, but also plenty
    sunbathe and swim. At the beginning of summer, almost all fish show
    maximum activity, here the fishermen do not have to be bored,
    actively pecking and predator and peaceful fish. The day has already visibly played its
    hours at night, respectively, and fish eat better in the morning and evening
    dawns, and in the middle of the day they go to the depths of the reservoir where the water is cooler.
    For many fishermen there is nothing more pleasant than to contemplate the movements of the float.
    on the water surface at dawn. There is even such an aphorism: "Not a single woman
    does not receive as much attention as a float in calm weather."
</p>