<h2> Winter fishing </h2>

<p>In Russia, ice fishing is usually referred to as ice fishing, while in countries
    with a milder climate, it can also take place on open water. Passionate about this kind
    recreation is popularly called "penguins": not everyone understands what a pleasure
    can be obtained by sitting for hours in the cold near an open hole. However, as they say
    For experienced anglers and beginners alike, fishing on the ice can be an exciting, exhilarating experience.
</p>